
.section{

    width: 100%;

    /* background: radial-gradient(black, transparent); */
    text-align: center;
    /* margin: auto; */
    margin: 40px auto;
    margin: 143px auto;
}

.box{
    margin: 20px;
}
.linkbtn{
    padding: 10px;
    background: skyblue;
    width: 340px;
}